/* GENERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #33475b;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-weight: 700;
}

h1{
    font-size: 50px;
    margin-bottom: 20px;
}

h2{
    font-size: 30px;
}

p{
    line-height: 30px;
}

/* UTILITIES */
.container{
    width: 1200px;
    margin: auto;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.menu-inline li{
    display: inline-block;
}

.w50{
    width: 50%;
}

.float-left{
    float: left;
}

a{
    color: #33475b;
    text-decoration: none;
}

li{
    margin-right: 10px;
    list-style: none;
}

.ta-center{
    text-align: center;
}

.fas.fa-check-circle{
    color: #fe775a;  
}

/* buttons */
.btn{
    min-width: 100px;
    padding: 15px 10px;
    text-align: center;
    line-height: 1;
    border: 1px solid #fe775a;
    border-radius: 5px;
}

.btn > a{
    color: #fe775a;
}

.orange{
    background-color: #fe775a;
}

.orange > a{
    color: white;
}

.big{
    max-width: 200px;
    margin: 30px 0;
    padding: 25px;
}

/* HEADER */
header{
    height: 160px;
    line-height: 80px;
}

.top-nav{
    background-color:#f4f9fd;
}

.top-nav, .bottom-nav{
    height: 50%;
}

.top-nav .left-nav span:last-child{
    padding: 10px;
    margin-left: 10px;              /* sistemare border */
    border-left: 2px solid gray;
}

.right-nav ul{
    text-align: right;
}

.bottom-nav .container .float-left img{
    vertical-align: middle;
}

/* MAIN */
/* JUMBOTRON (first section) */
.jumbotron{
    height: 800px;
    position: relative;
    background-color: #fef4ee;
    background-image: url(../img/jumbotron.png);
    background-size: 90% 100%;
    background-position:right top;
    background-repeat: no-repeat;
}

.jumbotron .jumbotron-text{
    position: relative;
    top: 100px;
}

/* green section divider */
.green-divider{
    height: 100px;
    width: 100%;
    background-color: #afebe4;
    position: absolute;
    bottom: 0%;
    border: solid #33475b;
    border-width: 5px 0;
}

/* SECOND SECTION */
/* powerful alone, better together */
.second-section{
    padding-bottom: 50px;
    background-color: #f4f9fd;
}

.second-section .cubo{
    width: 400px;
    margin-top: 30px;
}

.second-section p{
    margin: 20px 50px;
}

/* features */
.feature{
    height: 350px;
    margin-top: 40px;
    background: white;
    border-radius: 5px;
    box-shadow: 1px 5px 5px grey;  /* sistemare */
}

.feature img{
    height: 100px;
    margin: 30px;
    margin-top: 60px;
    margin-bottom: 20px;
}

.feature hr{
    width: 70%;
    height: 3px;
    background-color: black;
    margin: auto;
    margin-bottom: 20px;
}

/* first feature */
.feature .feature-img{
    width: 30%;
}

.feature .btn.orange.big{
    margin: auto;
    margin-top: 20px;
}

.feature .feature-text{
    width: 60%;
    margin-top: 30px;
}

.feature .feature-text *{
    margin-left: 0;
    margin-top: 20px;
}

.feature .feature-text.float-left h4:after{
    display: inline-block;
    content: "";
    border-top: .1rem solid black;
    width: 24rem;
    margin: 0 2rem;
    transform: translateY(-0.3rem);
}

/* float container */
/* second, third, fourth features */
.feature.float-left{
    height: 700px;
    width: 30%;
}

.float-container .feature.float-left:nth-child(2){
    margin-left: 5%;
    margin-right: 5%;
}

.float-container li{
    margin-top: 10px;
    margin-left: 80px;
    text-align: left;
}

.float-container p{
    height: 200px;
}

/* THIRD SECTION */
.third-section{
    height: 600px;
    color: white;
    background-image: linear-gradient(to right, #00a8b9, #03e6d3);
}

.third-section .container > h2{
    padding: 50px 0;
}

.list-container{
    width: 25%;
}

.top-row > .list-container{
    margin-top: 40px;
    border-right: 1px solid;
    border-bottom: 1px solid;
}

.bottom-row > .list-container{
    border-right: 1px solid;
}

.top-row > .list-container:last-child,
.bottom-row > .list-container:last-child{
    border-right: none;
}

.top-row .list-container li:last-child{
    padding-bottom: 20px;
}

.bottom-row .list-container li:first-child{
    padding-top: 20px;
}

.third-section .container li:nth-child(2){
    margin: 20px 0;
}

.list-container img{
    height: 30px;
}